/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

input {
  color: black;
}

input.loginform {
  width: 200px;
  margin: 10px;
}

input.loginbutton {
  width: 200px;
  margin: 10px;
  background-color: #6184A3;
  color:white;
  font-weight:900;
}

input.edit_form {
  width: 200px;
  margin: 10px;
}

input.edit_form_button {
  width: 200px;
  margin: 10px;
  background-color: #6184A3;
  color:white;
  font-weight:900;
}

table.centered {
  margin-left: auto;
  margin-right: auto;
}

.ExpenseTable {
	margin:0px;padding:0px;
	width:100%;
	/*box-shadow: 10px 10px 5px #888888;*/
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.ExpenseTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.ExpenseTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.ExpenseTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.ExpenseTable table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.ExpenseTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.ExpenseTable tr:hover td{
	
}
.ExpenseTable tr:nth-child(odd){ background-color:#aaaaaa; }
.ExpenseTable tr:nth-child(even)    { background-color:#ffffff; }.ExpenseTable td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.ExpenseTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.ExpenseTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.ExpenseTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.ExpenseTable tr:first-child td{
    vertical-align: top;
		background:-o-linear-gradient(bottom, #A1C4E3 5%, #6184A3 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A1C4E3), color-stop(1, #6184A3) );
	background:-moz-linear-gradient( center top, #A1C4E3 5%, #6184A3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#A1C4E3", endColorstr="#6184A3");	background: -o-linear-gradient(top,#A1C4E3,6184A3);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.ExpenseTable tr:first-child:hover td{
		background:-o-linear-gradient(bottom, #A1C4E3 5%, #6184A3 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A1C4E3), color-stop(1, #6184A3) );
	background:-moz-linear-gradient( center top, #A1C4E3 5%, #6184A3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#A1C4E3", endColorstr="#6184A3");	background: -o-linear-gradient(top,#A1C4E3,6184A3);

	background-color:#005fbf;
}
.ExpenseTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.ExpenseTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}