
/* Change the bootstrap default table hover color since it's the
   same used in striped tables you cannot have it look good if
   you use both striped and hover.
 */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FF9900;
}

.background-antiquewhite {
  background-color: antiquewhite;
}

.background-darksalmon {
  background-color: darksalmon;
}

.background-beige {
  background-color: beige;
}

.background-lightblue {
  background-color: lightblue;
}





