<div>
  <input type="text" ng-model="searchFilter.from">
  <input type="text" ng-model="searchFilter.to">
  <input type="text" ng-model="searchFilter.notes">
</div>
<div>
<table>
    <thead>
      <tr>
      <th>Date</th>
      <th>Method</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Notes</th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="expense in expensesList | filter : searchFilter">
        <td>{{expense.timestamp}}</td>
        <td>{{expense.from}}</td>
        <td>{{expense.to}}</td>
        <td>{{expense.amount}}</td>
        <td>{{expense.notes}}</td>
        <td><a href="/app/#/expenses/{{expense._id}}">Edit b</a></td>
      </tr>
  </tbody>
 </table>
 </div>