extends layout

block content
    | <SCRIPT>
	| function send_get_auth_token() {
	|  
	| }
	| </SCRIPT>
	h1= title
	form#formAddUser(name="get_auth_token",method="post",action="/")
		input#inputUserName(type="text", placeholder="username", name="username")
		input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
		button#btnSubmit(type="submit") submit
