
<table class="centered">
  <tr><td>Method</td><td><input type="text" ng-model="expense.from" class="edit_form"></td></tr>
  <tr><td>Categry</td><td><input type="text" ng-model="expense.to" class="edit_form"></td></tr>
  <tr><td>Amount</td><td><input type="text" ng-model="expense.amount" class="edit_form"></td></tr>
  <tr><td>Notes</td><td><input type="text" ng-model="expense.notes" class="edit_form"></td></tr>
  <tr><td>Method</td><td><input type="button" ng-click="updateExpense()" class="edit_form_button" value="Update"></td></tr>
</table>
  