	<div class="jumbotron hidden-xs">
		<div class="container">
			<div class="col-sm-8 container">
				<h1>Track your expenses</h1>
				<h3>Track every penny you spend, always know where your money goes!</h3>	
			</div>	
			<div class="col-sm-4">
				<img class="img-responsive" src="img/coins.png"></img>
			</div>
		</div>
	</div>
	<div class="jumbotron visible-xs">
		<div class="container">			
			<h1>Track your expenses</h1>
			<h3>Track every penny you spend, always know where your money goes!</h3>				
		</div>
	</div>