<div class="jumbotron">
  <div class="container">
    <div class="col-md-4">
    &nbsp;
    </div>
    <div class="col-md-4">
    <div class="form-group">
      <label for="login_usernname">Username</label>
      <input type="text" ng-model="username" placeholder="Username" class="form-control" id="login_usernname">
    </div>
    <div class="form-group">
      <label for="login_password">Password</label>
      <input type="password" ng-model="password" placeholder="Password" class="form-control" id="login_password">
    </div>
    <input type="button" ng-click="login(username,password)" class="btn btn-success" value="Log in">
    </div>
    <div class="col-md-4">
    &nbsp;
    </div>
  </div><!-- container -->
</div> 
